input.whatsapp-input{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     border-radius: 20px;
     border: 1px solid ;
     color: #dbdbdb;
     width: 250px;
     height: 45px;
     padding-left: 10px;
    }
    
input.whatsapp-input:focus {
     outline: none;
     border: 1px solid;
}
.inputtext{
    position: absolute;
    top: 541px;
    left: 66px;
    float: left;
}
@media only screen and (max-width: 600px) {
    .inputtext {
        top: 568px;
        left: 37px;
    }
  }
.iconsoftyper{
    position: absolute;
    top: 7px;
    margin-left: 4px;

}
.attach
{
    position: relative;
    right: 63px;
    margin-right: 4px;
}
.insta
{
    position: relative;
    right: 59px;
    height: 23px;
}
.mic
{
    position: relative;
    height: 39px;
   right: 48px;
    background-color :rgb(3, 129, 87);
    padding: 11px;
    border-radius: 50%;
}
@media only screen and (max-width: 600px) {
    .mic {
        right: 0px;
        margin-left: 8px;
    bottom: 44px;
    left: 119px;
    }
  }